.destroy {
    text-align: center;
}

.destroy__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}

.destroy__description {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: var(--color-gray);
    max-width: 1020px;
}